h1 {color:blue;}
#c1 {color:red;}
.c2 {color:green;}
#color .rojo b {
	color: red; 
	background-color: blue;}
#color .amarillo b {
	color: yellow; 
	background-color: purple;}
#color .verde b {
	color: green; 
	background-color: black;}